# Storyblok
NEXT_PUBLIC_STORYBLOK_TOKEN=
STORYBLOK_PREVIEW_TOKEN=

# Guesty Booking Engine API
GUESTY_BEAPI_CLIENT_ID=
GUESTY_BEAPI_CLIENT_SECRET=

# Guesty Webhook
GUESTY_WEBHOOK_SECRET=

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=contact@alto-home.fr
RESEND_FROM_NAME=Alto

# Cron
CRON_SECRET=

# Site
NEXT_PUBLIC_SITE_URL=https://alto-home.fr
